name: 05-1 filters and activity types

on:
    pull_request:
        types: [closed]
        branches: 
          - main


jobs: 
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: echo "Running whenever a PR is closed"
         