name: 16 - Environments
run-name: 16 - Environments | Deploy to ${{ inputs.target-env }}


on:
    workflow_dispatch:
#        inputs:
#            target-env:
#                type: environment
#                description: "Target environment for deployment"
#                default: staging
                

jobs:
    deploy-staging-test:
        runs-on: ubuntu-latest
        environment: staging
        env:
            MY_ENV_VALUE: ${{ vars.MY_ENV_VALUE || 'default-value' }}
        steps:
          - name: Echo vars
            run: |
                echo "Deploying to environment: ${{ env.MY_ENV_VALUE }}"

    e2e-tests: 
        runs-on: ubuntu-latest
        needs: deploy-staging-test
        steps:
          - name: Running E2E tests
            run: echo "Running E2E tests"

    deploy-prod-test:
        runs-on: ubuntu-latest
        needs: e2e-tests
        environment: ${{ inputs.target-env }}
        env:
            MY_ENV_VALUE: ${{ vars.MY_ENV_VALUE || 'default-value' }}
        steps:
          - name: Deploying application
            run: echo "Deploying application to Prod environment"