name: 16 - Environments


on:
    workflow_dispatch:
        inputs:
            target-env:
                type: environment
                description: "Target environment for deployment"
                default: staging
                
run-name: 16 - Environments | Deploy to ${{ inputs.target-env }}
jobs:
    echo:
        runs-on: ubuntu-latest
        environment: ${{ inputs.target-env }}
        env:
            MY_ENV_VALUE: ${{ vars.MY_ENV_VALUE || 'default-value' }}
        steps:
          - name: Echo vars
            run: |
                echo "Deploying to environment: ${{ env.MY_ENV_VALUE }}"
                